@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin:0 ;
    padding: 0;
    box-sizing:content-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}


.app{
    width: 100%;
    position: fixed;
}

header{
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

header .container{
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgb(145, 231, 245); 
    /* margin: 20px auto; */
    padding: 5px;
}


nav  ul{
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



button{
    /* width: 100px; */
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 3px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.add-effect::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgb(149, 198, 240);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.add-effect:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.image-holder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

img{
    margin-top: 40px;
    left: 50%;
    position: absolute;
    margin-left: -225px;
    border-radius: 14px;
    box-shadow: -9px -9px 18px #c6c5c5;
}

.active::before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgb(149, 198, 240);
}


.overlay{ 
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:1;
    background-color: rgba(235, 235, 235, 0.75);
    display: none;
}

.image-info-container {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(227, 228, 230);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    display: none;
}

.image-info-container i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.image-info-container img{
    position: absolute;
    top: 50%;
    left: 100px;
    margin-top: -125px;
}

.image-info-container .info-items{
    position: absolute;
    left: 40%;
    top: 40%;
}

#downloadBtn{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    width:min-content;
    position: relative;
}
